.appearance-root {
  .app-page-runtime--dense-data,
  .app-page-runtime--compact {
    --app-table-search-input-width: 200px;
  }

  .app-page-runtime--spacious {
    --app-table-search-input-width: 260px;
  }

  .app-page-runtime--minimal {
    .app-page-header {
      border-bottom-color: transparent;
    }
  }
}
