.skin-primevue-like {
  .n-card {
    border-color: var(--app-border-color);
  }

  .tabs-card-scroll-item {
    border: 1px solid var(--app-border-color);
  }

  .layout-header {
    border-bottom: 1px solid var(--app-border-color);
  }
}

.skin-compact-enterprise {
  .n-card-header {
    padding-top: 12px;
    padding-bottom: 8px;
  }

  .n-card__content {
    padding-top: 10px;
  }
}
